{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<main class="p-5 login">
    <div class="row text-justify">
        <div class="col">
            <h1>Login Page</h1>
        </div>
    </div>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form | crispy }} <br>
        <input class="btn btn-success" type="submit" />
        <a href="/accounts/register" class="btn btn-primary">Register</a>
        <a href="/accounts/password/reset/" class="btn btn-danger">Reset Password</a>
    </form>
</main>




{% endblock %}
