{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}
<br><br>
<div class="p-5">
    <h1 class="mb-3">Your Posts   <a class="btn btn-success btn-sm" href="/social/mypost/create/"><span class="fa fa-plus"></span></a></h1>
    <hr>
    <div>

<form action="">
<input placeholder="search your post here" class="mb-4 input-form mr-3" value="{{ REQUEST.get.SI }}" type="text" name="si" />
<input class="btn btn-dark btn-sm" type="submit" value="Search" />

</form>
     <table class="table">
         <thead class="thead-dark my-3 mt-3"><tr>
             <th>Subject</th>
             <th>Date</th>
             <th>Action</th>
             <th></th>
         </tr></thead>


{% for n1 in mypost_list %}
         <tr>
             <th>{{n1.subject}} </th>
             <th>{{ n1.cr_date}}</th>
             <th><a class="btn btn-success btn-sm" href="/social/mypost/{{n1.id}}">Read more</a>
</th>
              <th><a class="btn btn-danger btn-sm" href="/social/mypost/delete/{{n1.id}}"> <span class="fa fa-trash"></span></a>
</th>
         </tr>







{% endfor %}     </table>    </div>
</div>
{% endblock %}
